@font-face {
  font-family: 'KyoboHandwriting2020A';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'establishRetrosansOTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'establishRetrosansOTF';
  padding-left: 10px;
}

input{
  font-family: 'establishRetrosansOTF';
  font-size: 18px;
}

.comment{
  font-size: 25px;
}

.date{
  font-size: 12px;
}

.button{
  border-radius: 15px;
  border: 3px solid #251B37;
  background-color: whitesmoke;
  width: 50px;
  height: 30px;
}

.button:hover{
  background-color: #251B37;
  color: whitesmoke;
}

.textBox{
  border: 3px solid black;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}
